<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:hdp="http://www.springframework.org/schema/hadoop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://www.springframework.org/schema/context 
            http://www.springframework.org/schema/context/spring-context-4.0.xsd
            http://www.springframework.org/schema/tx 
            http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
            http://www.springframework.org/schema/hadoop
    		http://www.springframework.org/schema/hadoop/spring-hadoop.xsd">

	<context:property-placeholder location="classpath:datasource.properties" />

	<context:component-scan base-package="com.tcl.ep.persistence" />

	<hdp:configuration />

	<hdp:hbase-configuration zk-quorum="${hbase.host}"
		zk-port="${hbase.port}" delete-connection="false">
		hbase.rpc.timeout=1000
		hbase.client.retries.number=1
		hbase.client.operation.timeout=1000
	</hdp:hbase-configuration>

	<bean id="htemplate" class="org.springframework.data.hadoop.hbase.HbaseTemplate">
		<property name="configuration" ref="hbaseConfiguration" />
	</bean>

</beans>
